* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    background-image: url("images/mobile/image-header.jpg");
    background-size: cover;
    height: 538px;
}

h1, h2, h3, h4, .btn, .testimony-card__name{
    font-family: 'Fraunces', serif;
    font-weight: 900;
}

h1{
    color: white;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 6.25px;
    margin-bottom: 2rem;
}

h2{
    font-size: 32px;
    margin-bottom: 24px;
}

h3{
    font-size: 28px;
    color: #24554A;
    margin-bottom: 27px;
}

h4{
    letter-spacing: 4px;
    color: #A7AAAD;
    margin: 64px 0;
}

.p{
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
}

.nav-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 327px;
    margin: auto;
    padding: 1rem 0;
}

.nav-container>img{
    width: 123px;
}

.hidden{
    visibility: hidden;
}

.navbar-links {
    background-color: white;
    margin-top: 2rem;
    padding: 63px 0 39px;
    z-index: 1;
}

.triangle{
    position: absolute;
    top: 45px;
    left: 91%;
    height: 30px;
    width: 30px;
    background-image:
    linear-gradient(to bottom right, transparent 50%, white 0);
}

.navbar-links ul {
    display: flex;
    flex-direction: column;
}

.navbar-links li {
    list-style: none;
    text-align: center;
    margin-bottom: 2rem;
}

.navbar-links a {
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
    text-decoration: none;
    padding: 1rem;
    color: #808397;
}

.toggle-button {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    right: 0;
}

.bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.nav-content{
    position: absolute;
    top: 20%;
    text-align: center;
}

.intro__image{
    width: 100%;
}

.intro__content{
    width: 327px;
    margin: auto;
    padding: 64px 0;
    text-align: center;
}

.intro__p{
    color: #808397;
    margin-bottom: 32px;
}

.btn{
    position: relative;
    text-decoration: none;
    color: black;
    letter-spacing: 1px;
}

.btn--yellow::after, .btn--pink::after{
    position: absolute;
    content: '';
    width: 135px;
    height: 0.55rem;
    border-radius: 1rem;
    opacity: 0.25;
    left: -0.3rem;
    bottom: 0;
}

.btn--yellow::after{
    background-color: #FAD400;
}

.btn--pink::after{
    background-color: #FE7766;
}

.fruits{
    text-align: center;
    background-size: cover;
    height: 600px;
    padding-top: 397px;
}

.fruits--cherry{
    background-image: url("images/mobile/image-graphic-design.jpg");
}

.fruits__p, .testimony-card__p{
    width: 327px;
    margin: auto;
    font-weight: 600;
}

.fruits__p{
    color: #24554A;
    line-height: 27px;
}

.fruits--orange{
    background-image: url("images/mobile/image-photography.jpg");
}

.testimony{
    text-align: center;
    margin: 64px 0;

}

.testimony-card{
    margin-bottom: 64px;
}

.testimony-card__image{
    border-radius: 50%;
    width: 72px;
}

.testimony-card__p{
    color: #5B636D;
    line-height: 32px;
    margin: 32px auto;
}

.testimony-card__name{
    font-size: 18px;
    margin-bottom: 9px;
}

.testimony-card__title{
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #A7AAAD;
}

.pictures{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.pictures__img{
    width: 50vw;
}

footer{
    background-color: #90D4C6;
    text-align: center;
    padding: 64px 0 80px;
}

.footer__logo{
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 2rem;
    color: #2C7566;
    margin-bottom: 40px;
}

.footer-links{
    font-family: 'Barlow', sans-serif;
    display: flex;
    justify-content: space-around;
    color: #458D7E;
    margin-bottom: 88px;
}

.footer-links__p{
    font-size: 18px;
}

.social-media__img{
    padding: 1rem;
}